<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{% block title %}BIBLIOWEB!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container-fluid">
        {% block body %}
        <div class="row">
            <div class="col m2 ">
                {% block side %}
                    {% include 'side.html.twig'%}
                {% endblock %}
            </div>
            <div class="col m10 ">
                {% block content %}
                {% endblock %}
            </div>
        </div>
      {% endblock %}
  </div>
  {% block javascripts %}{% endblock %}

  <script>$(".button-collapse").sideNav();
  $(document).ready(function() {
    $('.js-datepicker').datepicker({
      format: 'yyyy-mm-dd'
    });
  });

  </script>
</body>
</html>
