
        <ul id="slide-out" class="side-nav fixed cyan darken-1">
            <li>
                <div class="card panel">
                    <h4 class="white cyan-text ">{{app.user.username |capitalize}} {{app.user.prenom}}</h4>
                </div>
            </li>
            <li><a href="/admin/livre/">Livres</a></li>

            <li><a href="">Liste lecteurs</a></li>
            <li><a href="#!">Envoi email</a></li>
            <li><a href="#!">Mes activités</a></li>
            <li><a href="/admin/livre/meslivres">Ma biblio</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
            <li><a class="btn white cyan-text" href="/">Revenir à l'accueil</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
