{% extends 'base.html.twig' %}

{% block body %}

<nav class="cyan darken-1">
  <div class="col m12 l12">
    <a href="/" class="brand-logo ">BIBLIOWEB</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Accueil</a></li>
      <li><a href="badges.html">Infos pratique</a></li>
      <li><a href="contact.php">Contact</a></li>
      <li>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <a href="/admin/livre/">{{app.user.username | capitalize }}</a>
          {% else %}
              <a href="/login">Se connecter</a>
          {% endif %}</li>
    </ul>
  </div>
</nav>

<div id="wrapper">
  <div id="container">
    <center><h3>Le catalogue</h3> <br /></center>
    <div class="container">
      <div class="row">
        {% for livre in livres %}
        <div class="col s12 m4 l4">
          <div class="card medium vertical">
            <div class="card-image z-depth-3">
              <img class="responsive-img" src="{{livre.couverture}}">couverture
            </div>

            <div class="card-stacked">
              <div class="card-content">
                <h5 class="header">{{ livre.titre }}</h5>

              </div>
              <div class="card-action">
                <a href="{{ path('livre_show', { 'id': livre.id }) }}">Voir</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


  </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
