{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
  <div class="row ">
    <div class="col m6 offset-m3 ">
      <div class="card-panel hoverable">
        <div class="row center-align ">
          <i class="large material-icons cyan-text ">lock</i>
        </div>
        <form action="{{ path("fos_user_security_check") }}" method="post">
          {% if csrf_token %}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}
          <div class="row ">
            <div class="input-field s12">
              <label for="username">{{ 'Identifiant'|trans }}</label>
              <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="validate" />

            </div>
          </div>
          <div class="row ">
            <div class="input-field ">
              <input type="password" id="password" name="_password" required="required" class="validate"/>
              <label for="password">{{ 'Mot de passe'|trans }}</label>
            </div>
          </div>
          <div class="row ">
            <div class="input-field ">
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
              <label for="remember_me">{{ 'Se souvenir'|trans }}</label>
            </div>
          </div>
          <div class="center-align">
            <input class="waves-effect waves-light btn pink darken-1 "type="submit" id="_submit" name="_submit" value="{{ 'Se connecter'|trans }}" />
          </div>
          <div class="center-align">
            <a class="waves-effect waves-light btn pink darken-1" "margin"="5px" href="{{ path('fos_user_registration_register')}}">S'inscrire' <a/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
