{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="row ">
  <div class=" col m6 offset-m3 ">
    <div class="card-panel blue-grey lighten-5 center-align">
      <h4>{{ 'Bienvenue'|trans({'%username%': user.username}) }}</h4>
      <h5>Vous êtes bien enregistré, vous allez recevoir un mail de confirmation </h5>
      {% if targetUrl %}
      <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
  </div>
</div>
</div>
{% endblock fos_user_content %}
