{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
  <div class="row ">
    <div class="col m6 offset-m3 ">
      <div class="card-panel hoverable">
        <div class="row center-align ">
          <i class="large material-icons cyan-text ">perm_identity</i>
        </div>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div class="center-align">
          <input class="  waves-effect waves-light btn pink darken-1 " type="submit" value="{{ 'S enregistrer'|trans }}" />
        </div>
          {{ form_end(form) }}
      </div>
    </div>
  </div>
