{% extends 'base.html.twig' %}

{% block body %}

  <h1>Modifier livre</h1>

  {{ form_start(edit_form) }}
  {{ form_widget(edit_form) }}
  <input type="submit" value="Modifier" />
  {{ form_end(edit_form) }}
  <ul>
    <li>
      <a href="{{ path('livre_index') }}">Revenir à la liste</a>
    </li>
    <li>
      {{ form_start(delete_form) }}
      <input type="submit" value="Supprimer">
      {{ form_end(delete_form) }}
    </li>
  </ul>

{% endblock %}
