{% extends 'base.html.twig' %}


{% block content %}

    <h4 >Livres</h4>
    <table class="striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date d'ajout</th>
                <th>Disponibilité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td><a href="{{ path('livre_show', { 'id': livre.id }) }}">{{ livre.titre }}</a></td>
                <td>{{ livre.auteur }}</td>
                <td type="date" class="datepicker">{% if livre.dateAjout %}{{ livre.dateAjout|date('d-m-Y ') }}{% endif %}</td>
                <td >{% if livre.disponibilite %}Disponible{% else %}Indisponible{% endif %}</td>
                <td>
                  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Actions</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li>
                            <a href="{{ path('livre_show', { 'id': livre.id }) }}">Voir</a>
                        </li>
                        <li>
                            {#<a href="{{ path('livre_share', { 'id': livre.id }) }}">Emprunter</a>#}
                        </li>
                        {% if is_granted("USER_ADMIN") %}
                            <li>
                                <a href="{{ path('livre_edit', { 'id': livre.id }) }}">Modifier</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn pink darken-1" href="{{ path('livre_new') }}">Ajouter un livre</a>
        </li>
    </ul>


{% endblock %}
