{% extends 'base.html.twig' %}

{% block body %}
<div class="col m6 ">
  <h4 class="center-align">Ajouter un livre</h4>

  {{ form_start(form) }}
  {{ form_widget(form )}}
  <input type="submit" value="Ajouter" class="waves-effect waves-light btn pink darken-1 center-align"/>
  {{ form_end(form) }}

  <ul>
    <li>
      <a class="btn-floating btn" href="{{ path('livre_index') }}"><i class="large material-icons">settings_backup_restore</i>Revenir à la liste</a>
    </li>
  </ul>
</div>


{% endblock %}
