{% extends 'base.html.twig' %}

{% block content %}
<div class="col m7">
  <h2 class="header">{{ livre.titre }}</h2>
  <h4>Auteur: {{ livre.auteur }}</h4>
  <div class="card horizontal">
    <div class="card-image ">
      <img src="{{livre.couverture}}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <div >
          <h5>Description</h5>
          <p>{{ livre.description|raw }}</p>
        </div>
        <div >
          <h5>Date d'ajout</h5>
          <p>{% if livre.dateAjout %}{{ livre.dateAjout|date('d-m-Y') }}{% endif %}</p>
        </div>
        <div >
          <h5>Disponibilite</h5>
          <span class="badge white-text pink darken-1 ">{% if livre.disponibilite %}Disponible{% else %}Indisponible{% endif %}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col 2"> <a  class="btn" href="{{ path('livre_edit', { 'id': livre.id }) }}">Modifier</a>  </div>
  <div class="col 2">
    {{ form_start(delete_form) }}
    <input class="btn pink darken-1 " type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
  </div>
  <a href="{{ path('livre_index') }}">Revenir à la liste</a>
</div>


{% endblock %}
